@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --datasmith: #444560;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --datasmith: #444560;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--datasmith);
  font-family: poppins;
}
